extends layout

block content
  .container
    .row
      .card(style='width: 18rem;').col
        img.card-img-top(src='https://picsum.photos/200' alt='...')
        .card-body
          h5.card-title Card title
          p 1000000
          a.btn.btn-primary(href='http://localhost:8888/app1/order/create_payment_url?amount=1000000') Buy        
        
