extends layout
block content
  form( method='POST')
    .form-group
      label(for='exampleInputEmail1') Username
      input#exampleInputEmail1.form-control(type='text' aria-describedby='emailHelp' placeholder='Enter username' name='username')
    .form-group
      label(for='exampleInputPassword1') Password
      input#exampleInputPassword1.form-control(type='password' placeholder='Password' name='password')
    button.btn.btn-primary(type='submit') Submit
